.bodySection{
	display: grid;
	grid-template-rows: 1fr 30px;
	grid-template-columns: 300px 1fr;
	grid-template-areas: "nav main"
						 "footer footer";
}
nav{
	grid-area: nav;
	background-color: yellow;
	height: calc(100vh - 30px);
}
main{
	grid-area: main;
	background-color: red;
	height: calc(100vh - 30px);
	overflow: auto;
}
footer{
	grid-area: footer;
	background-color: blue;
}

.btn{
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}
